@* Wizard control *@

<div class="wizard">
    <ul class="nav nav-tabs nav-justified" role="tablist">
        @* render the step titles *@
        <CascadingValue Value="this">
            @ChildContent
        </CascadingValue>
    </ul>
    <div class="wizard-step">
        @* render the active step *@
        <CascadingValue Value="ActiveStep">
            @ActiveStep?.ChildContent
        </CascadingValue>
    </div>
    <button class="btn btn-primary" type="button" disabled='@PrevDisabled' @onclick='@Prev'>
        Previous
    </button>
    <button class="btn btn-primary" type="button" disabled='@NextDisabled' @onclick='@Next'>
        @NextButtonText
    </button>
</div>
<b>Active tab is: @activeIndex @ActiveStep?.Title . Max = @maxIndex, valid =@maxValid </b>