@using BlazorWizardDemo.Example
@page "/"

<h1>Blazor Wizard Demo</h1>

<Wizard>
    <WizardStep Title="Step 1" IsValid="@model.Step1OK">
        <Step1 Model="model" />
    </WizardStep>
    <WizardStep Title="Step 2" IsValid="@model.Step2OK">
        <Step2 Model="model" />
    </WizardStep>
    <WizardStep Title="Step 3"> @* not set *@
        <Step3 Model="model" />
    </WizardStep>
</Wizard>

@code 
{
    public EventCallback OnComplete { get; set; }

    RentalModel model = new RentalModel();
}