@namespace BlazorWizardDemo.Example
<h2>Age Check</h2>

<p>
    Please confirm your age:
</p>
<label>
    <input type="checkbox" @bind="@Model.IsOver18" />
    I at least 18 years old
</label>

@code
{

    [Parameter] public RentalModel Model { get; set; }

}