@namespace BlazorWizardDemo.Example
<h4>
    Step 4 - select payment type
</h4>
<Field Label="Select Payment Type">
    <select class="form-control" @bind="Model.PaymentType" size="4">
        <option value="">[payment type]</option>
        <option value="CreditCard">Credit Card</option>
        <option value="Payment">PayPal</option>
        <option value="Cash">Brown envelope stuffed with cash</option>
    </select>
</Field>
@code
{
    [Parameter] public RentalModel Model { get; set; }

}